---
// components/CategorySidebar.astro
---

<aside class="categories">
  <h2>Paket Wisata Populer</h2>
  <ul>
    <li><a href="/1hari.html">Paket Wisata 1 Hari</a></li>
    <li><a href="/2h1m.html">Paket Wisata 2 Hari 1 Malam</a></li>
    <li><a href="/3h2m.html">Paket Wisata 3 Hari 2 Malam</a></li>
    <li><a href="/4h3m.html">Paket Wisata 4 Hari 3 Malam</a></li>
    <li><a href="/jeep.html">Paket Jeep Dieng</a></li>
    <li><a href="/2orang.html">Paket 2 Orang</a></li>
    <li><a href="/jogja.html">Paket Wisata Dieng dari Jogja</a></li>
    <li><a href="/semarang.html">Paket Dieng dari Semarang</a></li>
    <li><a href="/purwokerto.html">Paket Dieng dari Purwokerto</a></li>
    <li><a href="/solo.html">Paket Wisata Dieng dari Solo</a></li>
    <li><a href="/bulan-madu.html">Paket Bulan Madu</a></li>
    <li><a href="/private.html">Private Trip Dieng</a></li>
  </ul>
</aside>
