---
// components/CategorySidebar.astro
---

<aside class="categories">
  <h2>Paket Wisata</h2>
  <ul>
    <li><a href="/tour-1-hari/">Paket Tour 1 Hari</a></li>
    <li><a href="/tour-2-hari/">Paket Tour 2 Hari 1 Malam</a></li>
    <li><a href="/tour-3-hari/">Paket Tour 3 Hari 2 Malam</a></li>
    <li><a href="/tour-4-hari/">Paket Tour 4 Hari 3 Malam</a></li>
  </ul>
</aside>
