---
// components/Navigation.astro
---

<nav class="nav" aria-label="Main Navigation">
  <ul>
    <li><a href="/">Beranda</a></li>
    <li><a href="/tentang">Tentang</a></li>
    <li><a href="/ketentuan">S&amp;K</a></li>
    <li><a href="/privasi">Privasi</a></li>
    <li><a href="/kontak">Kontak</a></li>
  </ul>
</nav>
